* { box-sizing: border-box;}
.brazil-body {background-color: green; animation: brazil 3s infinite alternate}
.usa-body, .korea-body {background-color: red; animation: usa 3s infinite alternate}

@keyframes brazil {
  0% {background-color: green;}
  50% {background-color: yellow;}
  100% {background-color: blue;}
}

@keyframes usa {
  0% {background-color: white;}
  30% {background-color: red;}
  100% {background-color: blue;}
}

@-moz-keyframes spin {
  from { -moz-transform: translate(-50%, -50%) rotate(0deg); }
  to { -moz-transform: translate(-50%, -50%) rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
  to { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}
@keyframes spin {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}
.temer {
  position: fixed;
  top: 40%;
  left: 50%;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.donate {
   position: fixed;
   top: 85%;
   left: 50%;
   transform: translate(-50%, 0);
}

.language{
  width: 50px;
  position: fixed;
  right: 0;
}

#language{
  text-align: right;
  position: absolute;
  right: 10px;
}

audio {
  display: none;
}

.buttons {
  display: flex;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);

 }

 .buttons iframe{
  margin-bottom: 20px;
}

 .buttons * {
    flex: 0 0 auto;
 }
 #audio_button {
  height: 25px;
  width: 25px;
  background: url("../img/pause.png");
  background-repeat: no-repeat;
 }
@media only screen and (max-device-width:480px){
 #audio_button {
    position: fixed;
    width: 10vw;
    height: 10vw;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background: url("play.png");
    background-repeat: no-repeat;
 }
 .temer {
    width: 55%;
 }
 .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 200px;
  align-items: center;
 }
 .buttons * {
    flex: 1 0 auto;
    width: 100%;
 }
}
